
html {
  min-height: 100%;
}

body {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
  min-height: 100%;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: .9px;
  background: RGBA(27, 60, 89, 1.00);
  color: RGBA(242, 242, 240, 1.00);
}
h1 {
  font-weight: 400;
  font-size: 34px;
}
h2 {
  font-size: 20px;
}
h4 {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 2px;
}
h5 {
  font-size: 20px;
}
a {
  font-weight: 300;
  font-size: 15px;
}
/* header header header header header header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  background-color: RGBA(75, 74, 89, .30);
  color: inherit;
  z-index: 2;
}
#header .container {
  position: relative;
  display: block;
  padding: 0;
  width: 100%;
}
#header .name {
  display: inline-block;
  float: left;
  padding-left: 30px;
}
#header h2 {
  padding: 8px 0;
  line-height: 20px;
  font-size: 20px;
}
#header .container .navigator {
  display: inline-block;
}
#header a {
  display: inline-block;
  line-height: 15px;
  font-size: 15px;
  text-decoration: none;
  color: RGBA(255, 255, 255, 1.00);
  transition: background-color .3s;
}
#header a:hover {
  background-color: RGBA(255,	255,	255,	0.2);
  color: white;
}
@media (max-width: 363px) {
  #header .container a {
    padding: 6px 10px;
  }
}
@media (min-width: 364px) {
  #header .container a {
    padding: 10px 15px;
  }
}
@media (max-width: 539px) {
  #header .name {
    display: none;
  }
  #header .container .navigator {
    position: relative;

  }
}
@media (min-width: 540px) {
  #header .container .navigator {
    position: absolute;
    right: 0;
    bottom: 0;
    padding-right: 30px;
  }
}

/* banner banner banner banner banner banner */
#banner {
  position: relative;
  display: block;
  width: 100%;
  height: 600px;
  background-color: #a55540;
  background: url("/img/banner.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 70px;
  z-index: 1;
}
#banner .container {
  position: relative;
  display: inline-block;
  width: 100%;
  color: white;
}
#banner .container h1 {
  display: inline-block;
  width: 100%;

  text-shadow: 0px 0px 8px black;
}
@media (max-width: 363px) {
  #banner .container {
    margin-top: 80px;
  }
  #banner .container h1 {
    padding: 0 40px;
  }
}
@media (min-width: 332px) {
  #banner .container {
    margin-top: 140px;
  }
  #banner .container h1 {
    padding: 0;
  }
}
#banner .container p {
  display: inline-block;
  width: 100%;
  font-size: 18px;
  text-shadow: 0px 0px 8px black;
}
#banner .hyperButton,
#portfolio .hyperButton,
#contact .hyperButton {
  display: inline-block;
  margin-top: 50px;
  height: 60px;
  line-height: 60px;
  color: white;
  text-decoration: none;
  border: solid 1px RGBA(255,	255,	255,	1);
  border-radius: 5px;
  transition: background-color .3s;
}
@media (max-width: 331px) {
  #banner .hyperButton,
  #portfolio .hyperButton,
  #contact .hyperButton  {
    width: 100%;
  }
}
@media (min-width: 332px) {
  #banner .hyperButton,
  #portfolio .hyperButton,
  #contact .hyperButton  {
    width: 300px;
  }
}
#banner .hyperButton:hover,
#portfolio .hyperButton:hover,
#contact .hyperButton:hover {
  background-color: RGBA(255,	255,	255,	0.2);
}

/* ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT */
#about {
  display: block;
  width: 100%;
  margin: 80px 0;
}
#about .container {
  display: inline-block;
  position: relative;
  padding: 0 40px;
}
@media (max-width: 767px) {
  #about .container .left img {
    width: 30%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (max-width: 1999px) {
  #about .container .left img {
    width: 100%;
    padding: 25px 0 0 0;
  }
}
@media (min-width: 1200px) {
  #about .container .left img {
    width: 100%;
    padding: 0;
  }
}
#about .container .right {
  display: inline-block;
  float: left;
  text-align: left;
}

/* ABOUT2 ABOUT2 ABOUT2 ABOUT2 ABOUT2 ABOUT2 ABOUT2 ABOUT2 */
#about2 {
  display: inline-block;
  position: relative;
  width: 100%;
  background: url("/img/about2.jpg");
  background-size: cover;
  background-position: center;
}
#about2:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .300);
  z-index: 0;
}
#about2 .container {
  display: inline-block;
  position: relative;
  margin: 80px 0;
}
#about2 header {
  display: block;
}
#about2 span {
  font-size: 35px;
  line-height: 70px;
  width: 70px;
  height: 70px;
  border: 1px solid white;
  border-radius: 55px;
  margin-top: 40px;
  margin-bottom: 10px;
}


/* Portfolio Portfolio Portfolio Portfolio Portfolio */
#portfolio {
  display: inline-block;
  position: relative;
  width: 100%;
  background-color: #395160;
}
#portfolio .container {
  display: inline-block;
  position: relative;
  margin: 100px 0;
}
#portfolio header {
  display: inline-block;
}
#portfolio header h4 {

}

#portfolio .portfolios {
  display: inline-block;
  margin-top: 50px;
  width: 100%;
}
#portfolio .portfolios::after {
    content: "";
    display: table;
    clear: both;
}

#portfolio .item {
  display: inline-block;
  position: relative;
  min-height: 25px;
  margin: 0;
  padding: 0;

  text-decoration: none;
  color: #f2f2f0;
}
#portfolio .item .left {
  position: relative;
  display: inline-block;
  float: left;
  margin: 10px 10px 20px 10px;
  padding-top: 25%;
  width: calc(30% - 20px);
}
#portfolio .item .left img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}
#portfolio .item .right {
  display: inline-block;
  position: relative;
  float: left;
  margin: 10px;
  text-align: left;
  width: calc(70% - 20px);

}
#portfolio .item .right span:first-child {

  transition: .5s;
}
#portfolio .item h5 {
  text-align: left;
  margin-top: 0;
}
#portfolio .item p {
  margin-top: 25px;
  padding-bottom: 40px;
  font-size: 16px;
}
#portfolio .item .popup {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding-left: 0;
  color: white;
  text-shadow: 1px 1px 10px #11bfae;
  opacity: 0;
  transition: .5s;
}
#portfolio .item .popup ul {
  margin: 0;
  padding: 0;
}

#portfolio .item .popup .tag{
  display: inline-block;
  position: relative;
  float: left;
  margin: 5px 10px 5px 0px;
  padding: 0px 4px;
  color: #f2f2f0;
  background-color: #ff5200;
  border: 1px solid #ff5200;
  border-radius: 3px;
  list-style-type: none;
  text-align: left;
  font-size: 12px;
}
#portfolio .right a {
  margin-top: 60px;
  padding: 10px 30px;
  border: 1px solid #f2f2f0;
  border-radius: 3px;
  text-decoration: none;
  color: #f2f2f0;
}
#portfolio .right a {
  background-color:
}
#portfolio .item .right:hover span:first-child {
  opacity: .1;
}
#portfolio .item .right:hover span:last-child {
  opacity: 1.0;
}

@media (max-width: 520px) {
  #portfolio .item .left {
    margin: 0px 5px 0px 0px;
    width: calc(30% - 5px);
  }
  #portfolio .item span:nth-child(1) {
    margin: 0px 0px 0px 5px;
    width: calc(70% - 5px) ;
  }
  #portfolio .item h5 {
    margin-top: 0;
    font-size: 16px;
  }
  #portfolio .item p {
    margin-top: 15px;
    padding-bottom: 20px;
    font-size: 14px;
  }
}


#contact {
  display: block;
  position: relative;
  width: 100%;
  background: url("/img/contact.jpg");
  background-size: cover;
  background-position: center;
}
#contact:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .600);
  z-index: 0;
}
#contact .container {
  display: inline-block;
  position: relative;
  margin: 100px 0;
}
#contact header {
  display: block;
}
#contact header h4 {

}

#footer {
  background-color: rgba(40,	44,	52, 1.0);
}
#footer .container {
  display: inline-block;
  margin: 30px 0;
}
#footer ul {
  padding: 0;
  margin: 0;
}
#footer .icons {
  margin-bottom: 10px;
}
#footer .icons li {
  text-align: center;
  display: inline-block;
  position: relative;
  padding: 10px;
  list-style-type: none;
}
#footer .icons li .icon {
  color: rgba(150, 150, 150, 1.0);
  text-decoration: none;
  font-size: 40px;
  transition: color .3s;
}
#footer .icons li .icon:hover {
  color: rgba(255, 255, 255, 1.0);
}
#footer div:last-child {
  color: rgba(180, 180, 180, 1.0);
}
