
html {
  min-height: 100%;
}

body {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
  min-height: 100%;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: .9px;

  color: rgba(242, 242, 240, 1.00);
}
h1 {
  font-weight: 400;
  font-size: 34px;
}
h2 {
  font-size: 20px;
}
h4 {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 2px;
}
h5 {
  font-size: 20px;
}
a {
  font-weight: 300;
  font-size: 15px;
}

/********************************************/
/*                  HEADER                  */
/********************************************/
#header {
  display: inline-block;
  width: 100%;
  padding: 0 30px;
  background-color: rgba(55, 54, 69, .70);
  color: inherit;
  z-index: 2;
}
#header .navbar-toggle {
  border-color: rgba(242, 242, 240, 1.00);

}
#header .icon-bar {
  background-color: rgba(242, 242, 240, 1.00);
}


#header .navbar-brand {
  font-size: 22px;
}

#header .container {
  position: relative;
  display: block;
  padding: 0;
  width: 100%;
}
#header .name {
  display: inline-block;
  float: left;
  padding-left: 30px;
}

#header .container .navigator {
  display: inline-block;
}

#header a,
#header button {
  background-color: inherit;
  text-decoration: none;
  color: rgba(242, 242, 240, 1.00);
  transition: background-color .3s;
}
#header a:focus,
#header a:hover{
  background-color: rgba(255,	255,	255,	0.2);
}

#header button:hover {
  border: 1px solid white;
  background-color: rgba(255,	255,	255,	0.2);
}

#header .active > a {
  background-color: rgba(255,	255,	255,	0.2);
}

@media (max-width: 767px) {
  #header {
    padding: 0;
  }

}

/********************************************/
/*                 BANNER                   */
/********************************************/
#banner {
  position: relative;
  display: block;
  width: 100%;
  height: 600px;
  background-color: #a55540;
  background: url("/img/banner.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 70px;
  z-index: 1;
}
#banner .container {
  position: relative;
  display: inline-block;
  width: 100%;
  color: white;
}
#banner .container h1 {
  display: inline-block;
  width: 100%;

  text-shadow: 0px 0px 8px black;
}
@media (max-width: 363px) {
  #banner .container {
    margin-top: 80px;
  }
  #banner .container h1 {
    padding: 0 40px;
  }
}
@media (min-width: 332px) {
  #banner .container {
    margin-top: 140px;
  }
  #banner .container h1 {
    padding: 0;
  }
}
#banner .container p {
  display: inline-block;
  width: 100%;
  font-size: 18px;
  text-shadow: 0px 0px 8px black;
}
#banner .hyperButton,
#portfolio .hyperButton,
#contact .hyperButton {
  display: inline-block;
  margin-top: 50px;
  height: 60px;
  line-height: 60px;
  color: white;
  text-decoration: none;
  border: solid 1px rgba(255,	255,	255,	1);
  background-color: inherit;
  border-radius: 5px;
  transition: background-color .3s;
}
@media (max-width: 331px) {
  #banner .hyperButton,
  #portfolio .hyperButton,
  #contact .hyperButton  {
    width: 100%;
  }
}
@media (min-width: 332px) {
  #banner .hyperButton,
  #portfolio .hyperButton,
  #contact .hyperButton  {
    width: 300px;
  }
}
#banner .hyperButton:hover,
#portfolio .hyperButton:hover,
#contact .hyperButton:hover {
  background-color: rgba(255,	255,	255,	0.2);
}

/********************************************/
/*                  ABOUT                   */
/********************************************/
#about {
  display: block;
  width: 100%;
  padding: 80px 0;
  background: rgba(27, 60, 89, 1.00);
}
#about .container {
  display: inline-block;
  position: relative;
  padding: 0 40px;
}
@media (max-width: 767px) {
  #about .container .left img {
    width: 30%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (max-width: 1999px) {
  #about .container .left img {
    width: 100%;
    padding: 25px 0 0 0;
  }
}
@media (min-width: 1200px) {
  #about .container .left img {
    width: 100%;
    padding: 0;
  }
}
#about .container .right {
  display: inline-block;
  float: left;
  text-align: left;
}

/********************************************/
/*                  ABOUT2                  */
/********************************************/
#about2 {
  display: inline-block;
  position: relative;
  width: 100%;
  background: url("/img/about2.jpg");
  background-size: cover;
  background-position: center;
}
#about2:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .300);
  z-index: 0;
}
#about2 .container {
  display: inline-block;
  position: relative;
  margin: 80px 0;
}
#about2 header {
  display: block;
}
#about2 span {
  font-size: 35px;
  line-height: 70px;
  width: 70px;
  height: 70px;
  border: 1px solid white;
  border-radius: 55px;
  margin-top: 40px;
  margin-bottom: 10px;
}


/********************************************/
/*                PORTFPLIO                 */
/********************************************/
#portfolio {
  display: inline-block;
  position: relative;
  width: 100%;
  background-color: #395160;
}
#portfolio .container {
  display: inline-block;
  position: relative;
  margin: 100px 0;
  padding: 4px;
}
#portfolio header {
  display: inline-block;
}
#portfolio header h4 {

}

#portfolio .portfolios {
  display: inline-block;
  margin-top: 50px;
  width: 100%;
}

#portfolio .portfolios::after {
    content: "";
    display: table;
    clear: both;
}

#portfolio .item {
  display: inline-block;
  position: relative;
  min-height: 25px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #f2f2f0;
}

#portfolio .left {
  position: relative;
  display: inline-block;
  float: left;
  margin: 10px 10px 20px 10px;
  padding-top: 25%;
  width: calc(30% - 20px);
}

#portfolio .left img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

#portfolio .right {
  display: inline-block;
  position: relative;
  float: left;
  margin: 10px;
  text-align: left;
  width: calc(70% - 20px);
}

#portfolio .description {
  display: inline-block;
  position: relative;
  height: 210px;
  opacity: 1.0;
  transition: .5s;
}

#portfolio .right:hover .description{
  opacity: 0.1;
}

#portfolio .right h5 {
  text-align: left;
  margin-top: 0;
}

#portfolio .right p {
  margin-top: 25px;
  font-size: 16px;
}

#portfolio .item .popup {
  display: inline-block;
  visibility: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding-left: 0;
  float: left;
  color: #f2f2f0;
  opacity: 0;
  transition:  .5s;
}
#portfolio .right:hover .popup,
#portfolio .right:active .popup {
  visibility: visible;
  opacity: 100;
}
#portfolio .item .popup h5 {
  text-shadow: 1px 1px 10px #11bfae;
}

#portfolio .item .popup ul {
  margin: 0;
  padding: 0;
}

#portfolio .item .popup .tag{
  display: inline-block;
  position: relative;
  margin: 5px 0px 5px 0px;
  padding: 0px 4px;
  color: #f2f2f0;
  background-color: #ff5200;
  border: 1px solid #ff5200;
  border-radius: 3px;
  list-style-type: none;
  text-align: left;
  font-size: 12px;
}

#portfolio .popup a {
  position: relative;
  margin-top: 40px;
  padding: 10px 30px;
  border: 1px solid #f2f2f0;
  border-radius: 3px;
  text-decoration: none;
  color: #f2f2f0;
  text-align: center;
  box-shadow: 0px 0px 8px #11bfae;
}
#portfolio .popup span {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
}

@media (max-width: 560px) {
  #portfolio .item .left {
    margin: 0px 5px 0px 0px;
    width: calc(30% - 5px);
  }
  #portfolio .item .right {
    margin: 0px 0px 0px 5px;
    width: calc(70% - 5px) ;
  }
  #portfolio .item h5 {
    margin-top: 0;
    font-size: 16px;
  }
  #portfolio .item p {
    margin-top: 15px;
    padding-bottom: 20px;
    font-size: 14px;
  }

  #portfolio .popup a {
    margin-top: 10px;
    width: 180px;

  }
}

/********************************************/
/*                 CONTACT                  */
/********************************************/
#contact {
  display: block;
  position: relative;
  width: 100%;
  background: url("/img/contact.jpg");
  background-size: cover;
  background-position: center;
}
#contact:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .600);
  z-index: 0;
}
#contact .container {
  display: inline-block;
  position: relative;
  margin: 100px 0;
}
#contact header {
  display: block;
}
#contact header h4 {

}
#contact .modal-header {
  border: none;
}
#contact .modal-content {
  color: white;
  background-color: rgba(60,	64,	72, 1.0);
}
#contact .modal-body {
  padding: 0 30px 30px 30px;
}
.input-group[class*="col-"] {
  padding-right: 15px;
  padding-left: 15px;
}
#contact .help-block {
  text-align: left;
}
#contact .has-error .help-block,
#contact .has-error .control-label {
  color: #f71b43;
  font-size: 14px;
}
#contact .modal-footer {
  padding: 15px 0;
}

#contact .btn-custom {
  color: white;
  margin-left: 6px;
  background-color: inherit;
  border: 1px solid white;
  transition: background-color .1s;
}
#contact .btn-custom:hover {
  color: inherit;
  background-color: rgba(255,	255,	255,	0.2);
}

/********************************************/
/*                 FOOTER                   */
/********************************************/
#footer {
  background-color: rgba(40,	44,	52, 1.0);
  background-color: rgba(44,	62,	80, 1.0);
}
#footer .container {
  display: inline-block;
  margin: 30px 0;
}
#footer ul {
  padding: 0;
  margin: 0;
}
#footer .icons {
  margin-bottom: 10px;
}
#footer .icons li {
  text-align: center;
  display: inline-block;
  position: relative;
  padding: 10px 14px;
  list-style-type: none;
}
#footer .icons li .icon {
  color: rgba(150, 150, 150, 1.0);
  text-decoration: none;
  font-size: 40px;
  transition: color .3s;
}
#footer .icons li .icon:hover {
  color: rgba(255, 255, 255, 1.0);
}
#footer div:last-child {
  color: rgba(180, 180, 180, 1.0);
}
/* font-icon */
.fa-linkedin-squar:before {
  content: "\f08c";
}
